name: docker

on:
  push:
    branches:
      - master
    tags:
      - "v*"

jobs:
  build-docker:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - run: docker version

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: git.kmsign.ru
          username: ${{ github.actor }}
          password: ${{ secrets.PACKAGE_TOKEN }}

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Docker meta
        id: meta
        # uses: https://github.com/docker/metadata-action@v5
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: git.kmsign.ru/${{ github.repository }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          pull: true
          platforms: linux/amd64 #, linux/arm64
          labels: ${{ steps.meta.outputs.labels }}
          sbom: true
          provenance: true
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
